<template>
  <div class="flex flex-col gap-3">
    <div class="flex justify-end">
      <n-button size="large" @click="isModal = true">Добавить</n-button>
      <m-base
        v-model:show="isModal"
        @cancel="onCancel"
        @confirm="handleForm"
        :width="'800'"
      >
        <template #context>
          <n-form
            size="large"
            ref="formRef"
            :model="modelRef"
            class="flex gap-2"
          >
            <div class="flex flex-col w-1/2">
              <n-form-item label="Name">
                <n-input v-model:value="modelRef.name" />
              </n-form-item>

              <n-form-item label="Type Category">
                <n-select
                  v-model:value="modelRef.type"
                  :options="staticData.typeCategory"
                ></n-select>
              </n-form-item>
              <n-form-item label="Фото">
                <input
                  type="file"
                  @change="handeleFile"
                  class="border rounded-md p-2 w-full"
                />
              </n-form-item>
            </div>
            <div class="flex flex-col w-1/2">
              <n-form-item label="Packet Name">
                <n-dynamic-tags
                  v-model:value="modelRef.packet_name"
                  size="large"
                />
              </n-form-item>
              <n-form-item label="Packet Price">
                <n-dynamic-tags
                  v-model:value="modelRef.packet_price"
                  size="large"
                />
              </n-form-item>
              <n-form-item label="Description">
                <n-input v-model:value="modelRef.description" type="textarea" />
              </n-form-item>
            </div>
          </n-form>
        </template>
      </m-base>
    </div>
    <n-data-table
      :bordered="false"
      :single-line="false"
      :columns="columns"
      :data="categories"
      :max-height="600"
    />
  </div>
</template>

<script setup lang="ts">
import MBase from "@/components/modal/MBase.vue";
import { h, ref, reactive, computed } from "vue";
import { useStore } from "@/stores";
import categoryData from "./data.json";
import { CategoryType } from "./type";
import $axios from "../../plugins/axios";
import { NTag } from "naive-ui";
import type { FormInst, DataTableColumns } from "naive-ui";

type RowData = {
  name: string;
  type: string;
  packets: [];
  club: object;
  description: string;
};

const columns: DataTableColumns<RowData> = [
  {
    title: "Name",
    key: "name",
  },
  {
    title: "Type",
    key: "type",
  },

  {
    title: "Club",
    key: "club.name",
  },
  {
    title: "Description",
    key: "description",
  },
  {
    title: "Packets",
    key: "packets",
    render(row) {
      const packets = row.packets.map((val: any) => {
        return h(
          NTag,
          {
            style: {
              margin: "2px",
            },
            type: "info",
            bordered: false,
          },
          {
            default: () => `${val.name}: ${val.price}`,
          }
        );
      });
      return packets;
    },
  },
];

const indexStore = useStore();
const staticData = ref(categoryData);
const isModal = ref(false);
const formRef = ref<FormInst | null>(null);
const modelRef = reactive<CategoryType>({
  name: "",
  packet_name: [],
  packet_price: [],
  file: "",
  description: "",
  type: "",
  club_id: "1",
});

//fetch
indexStore.fetchActionWithoutParams("/api/admin/club/category", "category");

// computed
const categories = computed(() => indexStore.data.category?.categories);

// function
function onCancel() {
  isModal.value = false;
}

function handeleFile(event: any) {
  modelRef.file = event.target.files[0];
}

function handleForm() {
  const formData = new FormData();
  formData.append("name", modelRef.name);
  formData.append("packet_name", modelRef.packet_name);
  formData.append("packet_price", modelRef.packet_price);
  formData.append("file", modelRef.file);
  formData.append("description", modelRef.description);
  formData.append("type", modelRef.type);
  formData.append("club_id", modelRef.club_id);
  $axios
    .post("/api/admin/club/category", formData)
    .then((res) =>
      res
        ? indexStore.fetchActionWithoutParams(
            "/api/admin/club/category",
            "category"
          )
        : alert("xato")
    );
}
</script>
