<template>
  <div>
    <div
      class="border-dashed border rounded-md px-2 py-1 grid grid-cols-2 gap-1"
    >
      <h3 class="text-center col-span-2 text-[#EB0000]">
        {{ cyberium.categoryData.name }}
      </h3>

      <button
        @click="handleClick(item)"
        class="w-full border rounded-md px-8 text-white text-sm"
        v-for="(item, idx) in cyberium.categoryData.device"
        :class="[
          { 'bg-[#DC6803]': item.status == 'pending' },
          { 'bg-red': item.status == 'accepted' },
        ]"
        :key="idx"
      >
        {{ item.pc_id }}
      </button>
    </div>
    <m-base-map
      v-model:show="isModal"
      @cancel="onCancel"
      :title="'Фильтр бронирование'"
      :width="'900'"
    >
      <template #context>
        <div class="flex gap-2 justify-between">
          <span>1. {{ historyData?.full_name }}</span>
          <div class="flex flex-col">
            <div v-for="(item2, idx2) in historyData?.users" :key="idx2">
              <span>{{ item2 }}</span>
            </div>
          </div>
          <span>{{ historyData?.phone }}</span>
          <span
            >от {{ historyData?.booking_time?.getHours() }} :
            {{ historyData?.booking_time?.getMinutes() }}
          </span>
          <div class="flex gap-1">
            <n-button @click="handleRejected">BEKOR QILISH</n-button>
            <n-button @click="handleAccepted">TASDIQLASH</n-button>
          </div>
        </div>
      </template>
    </m-base-map>
  </div>
</template>
<script setup lang="ts">
import { ref, onMounted } from "vue";
import { useCyberium } from "@/stores/cyberium";
import MBaseMap from "@/components/modal/MBaseMap.vue";
import { useStore } from "@/stores";
import { Device } from "@/type/cyberium";

const indexStore = useStore();

// data

const cyberium = useCyberium();
const isModal = ref(false);
const historyData = ref<Device | null>(null);
const historyId = ref();

// function
function onCancel() {
  isModal.value = false;
}

function handleClick(item: Device) {
  if (item.status == "pending") {
    isModal.value = true;
    historyData.value = item;
    historyId.value = item.d_id;
  }
}
function handleAccepted() {
  indexStore
    .editAction(`/api/admin/club/history/${historyId.value}`, {
      status: "accepted",
    })
    .then((res) => {
      if (res) {
        isModal.value = false;
        cyberium.fetchCategories("ELITE 1");
        cyberium.fetchHistory();
      }
    });
}
function handleRejected() {
  indexStore
    .editAction(`/api/admin/club/history/${historyId.value}`, {
      status: "rejected",
    })
    .then((res) => {
      if (res) {
        isModal.value = false;
        cyberium.fetchCategories("ELITE 1");
        cyberium.fetchHistory();
      }
    });
}
// onMounted
onMounted(() => {
  cyberium.fetchHistory();
  cyberium.fetchCategories("ELITE 1");
});
</script>
