<template>
  <div class="border-dashed border rounded-md px-2 py-1 grid grid-cols-2 gap-1">
    <h3 class="text-center col-span-2 text-[#EB0000]">
      {{ props.data?.name }}
    </h3>
    <button
      class="w-full border rounded-md px-8 text-white text-sm"
      v-for="(item, idx) in data?.device"
      :key="idx"
    >
      {{ item.pc_id }}
    </button>
  </div>
</template>
<script setup lang="ts">
const props = defineProps({
  data: [],
});
</script>
