<template>
  <div class="border-dashed border rounded-md grid grid-cols-2 gap-1 p-1">
    <h3 class="text-center col-span-2 text-[#EB0000]">PRO 1</h3>
    <button
      class="w-full border rounded-md px-8 text-sm text-white"
      v-for="n in 10"
      :key="n"
    >
      {{ n }}
    </button>
  </div>
</template>
