<template>
  <div
    class="flex flex-col w-full border py-4 px-5 rounded-md text-white gap-5"
  >
    <div class="flex flex-col gap-1">
      <div class="flex items-center gap-2">
        <n-icon size="22" color="#FFFFFF">
          <calendar-icon></calendar-icon>
        </n-icon>
        <span class="text-base font-light">{{ props.info?.calendar }}:</span>
      </div>
      <span class="ml-6 text-xl">{{ props.info?.price }} uzs</span>
    </div>
    <div class="flex flex-col gap-1">
      <div class="flex items-center gap-2">
        <n-icon size="22" color="#FFFFFF">
          <people-icon></people-icon>
        </n-icon>
        <span class="text-base font-light">Clients</span>
      </div>
      <span class="ml-6 text-xl">{{ props.info?.clients }} ta</span>
    </div>
  </div>
</template>
<script setup lang="ts">
import {
  CalendarClearOutline as CalendarIcon,
  PeopleOutline as PeopleIcon,
} from "@vicons/ionicons5";

const props = defineProps({
  info: {
    type: Object,
  },
});
</script>
