<template>
  <n-carousel class="col-span-2 rounded-md border" autoplay>
    <div class="flex flex-col gap-4 py-4 px-5 w-full h-full text-white">
      <div class="flex gap-2 items-center">
        <n-icon size="22" color="#ffffff">
          <chat-icon></chat-icon>
        </n-icon>
        <span class="text-base font-light">Comments</span>
        <span class="text-base font-light ml-4">256 k</span>
      </div>
      <div class="flex gap-2">
        <div>
          <n-avatar
            round
            size="large"
            src="empty.png"
            fallback-src="https://07akioni.oss-cn-beijing.aliyuncs.com/07akioni.jpeg"
          />
        </div>
        <div class="flex flex-col gap-1">
          <div>
            <h3>Azizbek Karimov</h3>
            <span>+998 99 123-45-67</span>
          </div>
          <p
            class="text-xs"
            style="
              overflow: hidden;
              display: -webkit-box;
              -webkit-line-clamp: 2;
              -webkit-box-orient: vertical;
            "
          >
            Lorem Ipsum is simply dummy Lorem ipsum dolor sit amet consectetur
            adipisicing elit. Repellat nesciunt ab quibusdam possimus cum odit
            dolorem ipsa repellendus atque ullam, adipisci distinctio
            consequatur. Quia fugit eos labore, delectus deleniti debitis.
          </p>
        </div>
      </div>
    </div>
    <div class="flex flex-col gap-4 py-4 px-5 w-full h-full text-white">
      <div class="flex gap-2 items-center">
        <n-icon size="22" color="#ffffff">
          <chat-icon></chat-icon>
        </n-icon>
        <span class="text-base font-light">Comments</span>
        <span class="text-base font-light ml-4">256 k</span>
      </div>
      <div class="flex gap-2">
        <div>
          <n-avatar
            round
            size="large"
            src="empty.png"
            fallback-src="https://07akioni.oss-cn-beijing.aliyuncs.com/07akioni.jpeg"
          />
        </div>
        <div class="flex flex-col gap-1">
          <div>
            <h3>Azizbek Karimov</h3>
            <span>+998 99 123-45-67</span>
          </div>
          <p
            class="text-xs"
            style="
              overflow: hidden;
              display: -webkit-box;
              -webkit-line-clamp: 2;
              -webkit-box-orient: vertical;
            "
          >
            Lorem Ipsum is simply dummy Lorem ipsum dolor sit amet consectetur
            adipisicing elit. Repellat nesciunt ab quibusdam possimus cum odit
            dolorem ipsa repellendus atque ullam, adipisci distinctio
            consequatur. Quia fugit eos labore, delectus deleniti debitis.
          </p>
        </div>
      </div>
    </div>
  </n-carousel>
</template>

<script setup lang="ts">
import { ChatboxOutline as ChatIcon } from "@vicons/ionicons5";
</script>
<style scoped>
.n-carousel {
  border-radius: 8px;
}
</style>
