<template>
  <svg
    width="148"
    height="57"
    viewBox="0 0 148 57"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      d="M0 28.5C0 12.7599 12.6213 0 28.1905 0C43.7596 0 56.381 12.7599 56.381 28.5C56.381 44.2401 43.7596 57 28.1905 57C12.6213 57 0 44.2401 0 28.5Z"
      fill="#F79009"
    />
    <path d="M16.8609 40.2207H11.1699V17.9551H16.8609V40.2207Z" fill="white" />
    <path
      d="M23.3524 17.9551H30.2415L40.8481 33.9507L40.5839 17.9551H46.1515V40.2207H39.8262L28.691 23.3879L28.9377 40.2207H23.3524V17.9551Z"
      fill="white"
    />
    <path
      d="M66.4062 28.2858C66.4062 20.7333 70.717 16.957 79.3386 16.957C83.5202 16.957 86.6623 17.812 88.7648 19.522C91.0905 21.4102 92.2534 24.4086 92.2534 28.5173C92.2534 32.638 91.0964 35.6423 88.7824 37.5305C86.6682 39.2523 83.5202 40.1133 79.3386 40.1133C75.0748 40.1133 71.8975 39.2345 69.8067 37.477C67.5397 35.5652 66.4062 32.5014 66.4062 28.2858ZM79.3386 20.7689C74.6872 20.7689 72.3615 23.2864 72.3615 28.3214C72.3615 30.9339 72.8666 32.8814 73.8767 34.1639C75.0043 35.5652 76.825 36.2658 79.3386 36.2658C84.0018 36.2658 86.3334 33.683 86.3334 28.5173C86.3334 23.3517 84.0018 20.7689 79.3386 20.7689Z"
      fill="#F79009"
    />
    <path
      d="M97.0711 17.3845H103.96L114.567 33.3802L114.303 17.3845H119.87V39.6502H113.545L102.41 22.8173L102.656 39.6502H97.0711V17.3845Z"
      fill="#F79009"
    />
    <path
      d="M136.916 21.2677C133.039 21.2677 130.996 22.9895 130.784 26.4333L145.866 26.4511V30.3164H130.749C130.761 32.3589 131.301 33.8017 132.37 34.6448C133.321 35.393 134.837 35.767 136.916 35.767H145.866V39.6502H136.651C133.163 39.6502 130.473 38.997 128.582 37.6908C125.927 35.862 124.6 32.9348 124.6 28.9092C124.6 24.8717 125.651 21.9208 127.754 20.0564C129.739 18.2752 132.757 17.3845 136.81 17.3845H145.866V21.2677H136.916Z"
      fill="#F79009"
    />
  </svg>
</template>
