<template>
  <n-modal
    transform-origin="center"
    :model-value="props.modelValue"
    @update:show="hide"
  >
    <n-card
      :style="{ width: props.width + 'px' }"
      :bordered="true"
      size="small"
      aria-modal="true"
      :segmented="{
        content: true,
        footer: true,
      }"
    >
      <template #header>
        <div class="flex justify-between">
          <span class="text-xl">{{ props.title }}</span>
          <n-button circle @click="onCancel"
            ><n-icon><close-icon></close-icon></n-icon
          ></n-button>
        </div>
      </template>
      <slot name="context"></slot>
    </n-card>
  </n-modal>
</template>
<script lang="ts" setup>
import { Close as CloseIcon } from "@vicons/ionicons5";
const props = defineProps({
  modelValue: Boolean,
  width: {
    type: String,
    default: "600",
  },
  title: {
    type: String,
    default: "Modal",
  },
});

const emit = defineEmits(["update:model-value", "cancel", "confirm"]);
function hide() {
  emit("update:model-value", false);
}
function onCancel() {
  emit("cancel");
}
function onConfirm() {
  emit("confirm");
}
</script>
