<template>
  <n-modal
    style="width: 444px"
    transform-origin="center"
    :model-value="props.modelValue"
    @update:show="hide"
  >
    <n-card
      style="width: 444px"
      :bordered="true"
      size="small"
      aria-modal="true"
    >
      <div class="flex flex-col items-center gap-4">
        <n-avatar size="large" round color="#FEE4E2">
          <n-icon size="large" color="red">
            <trash-outline />
          </n-icon>
        </n-avatar>
        <span class="text-xl">Вы точно хотите удалить?</span>
      </div>
      <template #footer>
        <div class="flex flex-col gap-2">
          <n-button
            class="bg-red text-white rounded p-2"
            @click="$emit('delete')"
            color="red"
          >
            Удалить
          </n-button>
          <n-button
            @click="$emit('close')"
            class="bg-white text-black border rounded p-2"
          >
            Отменить
          </n-button>
        </div>
      </template>
    </n-card>
  </n-modal>
</template>
<script lang="ts" setup>
import { TrashOutline } from "@vicons/ionicons5";
const props = defineProps({
  modelValue: Boolean,
});

const emit = defineEmits(["update:model-value"]);
function hide() {
  emit("update:model-value", false);
}
</script>
