<template>
  <div class="flex flex-col gap-4">
    <div class="grid grid-cols-6 gap-4">
      <card-info
        :info="{
          calendar: 'Day',
          price: '11200',
          clients: '300',
        }"
      ></card-info>
      <card-info
        :info="{
          calendar: 'Week',
          price: '11200',
          clients: '300',
        }"
      ></card-info>
      <card-info
        :info="{
          calendar: 'Month',
          price: '11200',
          clients: '300',
        }"
      ></card-info>
      <card-info
        :info="{
          calendar: 'Year',
          price: '11200',
          clients: '300',
        }"
      ></card-info>
      <card-carousel></card-carousel>
    </div>
    <div class="text-white flex justify-between">
      <h3 class="text-xl">Analytics</h3>
      <div class="flex gap-2">
        <n-button class="text-white" size="large">
          <template #icon>
            <n-icon>
              <download-icon></download-icon>
            </n-icon>
          </template>
          Download Exel
        </n-button>
        <n-button class="text-white" size="large">
          <template #icon>
            <n-icon>
              <filter-icon></filter-icon>
            </n-icon>
          </template>
          Фильтр
        </n-button>
      </div>
    </div>
    <div>
      <n-tabs default-value="All" style="color: red" animated>
        <n-tab-pane name="All" tab="All">
          <table-analytics></table-analytics>
        </n-tab-pane>
        <n-tab-pane name="Actives" tab="Actives">
          <table-analytics></table-analytics>
        </n-tab-pane>
        <n-tab-pane name="Cancelleds" tab="Cancelleds">
          <table-analytics></table-analytics>
        </n-tab-pane>
      </n-tabs>
    </div>
  </div>
</template>
<script setup lang="ts">
import CardInfo from "@/components/card/CardInfo.vue";
import CardCarousel from "@/components/card/CardCarousel.vue";
import TableAnalytics from "@/components/table/TableAnalytics.vue";
import {
  DownloadOutline as DownloadIcon,
  Filter as FilterIcon,
} from "@vicons/ionicons5";
</script>
<style>
.n-tabs-tab__label {
  color: #fff;
}
</style>
