<template>
  <div>
    <n-data-table
      :bordered="false"
      :single-line="false"
      :columns="columns"
      :data="cyberiumStore.history"
      :max-height="400"
    />
  </div>
</template>

<script setup lang="ts">
import { h, ref, reactive, onMounted } from "vue";
import { useStore } from "@/stores";
import { NTag } from "naive-ui";
import type { DataTableColumns } from "naive-ui";
import { useCyberium } from "@/stores/cyberium";

const cyberiumStore = useCyberium();
type RowData = {
  full_name: string;
  booking_time: string;
  packets: [];
  packet_id: object;
  user: [];
};

const columns: DataTableColumns<RowData> = [
  {
    title: "Name",
    key: "full_name",
  },
  {
    title: "Date",
    key: "booking_time",
  },

  {
    title: "Cabine",
    key: "device_id",
    render(row: any) {
      const device_id = row.device_id.map((val: any) => {
        return h(
          NTag,
          {
            style: {
              margin: "2px",
            },
            type: "info",
            bordered: false,
          },
          {
            default: () => `${val}`,
          }
        );
      });
      return device_id;
    },
  },
  {
    title: "Packet",
    key: "packet_id",
  },
  {
    title: "Tel number",
    key: "packet_id",
  },
  {
    title: "ID number",
    key: "user",
  },
  {
    title: "Price",
    key: "price",
  },
];

const indexStore = useStore();

// onMounted
onMounted(() => {
  cyberiumStore.fetchHistory();
});
</script>
