<template>
  <div class="w-full h-full flex flex-col gap-1.5">
    <div class="flex justify-center w-full gap-8">
      <div
        class="border-dashed border rounded-md px-2 py-1 grid grid-cols-2 gap-1"
      >
        <h3 class="text-center col-span-2 text-[#EB0000]">ELITE 1</h3>
        <button
          class="w-full border rounded-md px-8 text-white text-sm"
          v-for="n in 10"
          :key="n"
        >
          {{ n }}
        </button>
      </div>
      <div class="border-dashed border rounded-md grid grid-cols-2 p-1 gap-1">
        <h3 class="text-center col-span-2 text-[#EB0000]">ELITE 2</h3>
        <button
          class="w-full border rounded-md px-8 text-sm text-white"
          v-for="n in 10"
          :key="n"
        >
          {{ n }}
        </button>
      </div>
      <div class="border-dashed border rounded-md grid grid-cols-2 gap-1 p-1">
        <h3 class="text-center col-span-2 text-[#EB0000]">PRO 1</h3>
        <button
          class="w-full border rounded-md px-8 text-sm text-white"
          v-for="n in 10"
          :key="n"
        >
          {{ n }}
        </button>
      </div>
      <div class="border-dashed border rounded-md grid grid-cols-2 gap-1 p-1">
        <h3 class="text-center col-span-2 text-[#EB0000]">PRO 2</h3>
        <button
          class="w-full border rounded-md px-8 text-sm text-white"
          v-for="n in 10"
          :key="n"
        >
          {{ n }}
        </button>
      </div>
    </div>
    <div class="flex w-full justify-between gap-2">
      <div class="flex flex-col gap-2">
        <button class="border-dashed border rounded-md p-6">
          <h3 class="text-white">143</h3>
          <span class="text-[#EB0000]">SOLO 3</span>
        </button>
        <button class="border-dashed border rounded-md p-6">
          <h3 class="text-white">143</h3>
          <span class="text-[#EB0000]">SOLO 2</span>
        </button>
        <button class="border-dashed border rounded-md p-6">
          <h3 class="text-white">143</h3>
          <span class="text-[#EB0000]">SOLO 1</span>
        </button>
        <button class="border-dashed border rounded-md p-6">
          <h3 class="text-white">143</h3>
          <h4 class="text-white">PS.5</h4>
          <span class="text-[#EB0000]"> LUX 2</span>
        </button>

        <button class="border-dashed border rounded-md p-6">
          <h3 class="text-white">143</h3>
          <h4 class="text-white">PS.5</h4>
          <span class="text-[#EB0000]">LUX 1</span>
        </button>
      </div>
      <div class="grid grid-cols-2 gap-1">
        <button
          class="w-full border rounded-md px-8 text-sm text-white"
          v-for="n in 40"
          :key="n"
        >
          {{ n }}
        </button>
        <h3 class="text-[#EB0000] col-span-2 text-center">SPICE 2</h3>
      </div>
      <div class="grid grid-cols-2 gap-1">
        <button
          class="w-full border rounded-md px-8 text-sm text-white"
          v-for="n in 40"
          :key="n"
        >
          {{ n }}
        </button>
        <h3 class="text-[#EB0000] col-span-2 text-center">SPICE 1</h3>
      </div>
      <div
        class="border-dashed border rounded-md flex flex-col justify-center p-2"
      >
        <div class="grid grid-cols-2 gap-6 h-auto">
          <button
            class="w-full border rounded-md px-8 text-sm py-4 text-white"
            v-for="n in 6"
            :key="n"
          >
            {{ n }}
          </button>
        </div>
        <h3 class="text-[#EB0000] text-center mt-10">PS 5</h3>
      </div>
      <div class="grid grid-rows-3 gap-2">
        <div class="border-dashed border rounded-md p-2 grid grid-cols-3 gap-2">
          <button
            class="w-full border rounded-md px-8 text-sm py-4 text-white"
            v-for="n in 5"
            :key="n"
          >
            {{ n }}
          </button>
          <h3 class="col-span-3 text-[#EB0000] text-center">EMPIRE 2</h3>
        </div>
        <div class="border-dashed border rounded-md p-2 grid grid-cols-3 gap-2">
          <button
            class="w-full border rounded-md px-8 text-sm py-4 text-white"
            v-for="n in 5"
            :key="n"
          >
            {{ n }}
          </button>
          <h3 class="col-span-3 text-[#EB0000] text-center">EMPIRE 5</h3>
        </div>
        <div class="border-dashed border rounded-md p-2 grid grid-cols-3 gap-2">
          <button
            class="w-full border rounded-md px-8 text-sm py-4 text-white"
            v-for="n in 2"
            :key="n"
          >
            {{ n }}
          </button>
          <h3 class="col-span-3 text-[#EB0000] text-center">PS 5</h3>
        </div>
      </div>
    </div>
    <div class="flex justify-around">
      <div class="grid grid-cols-6 gap-1">
        <button
          class="w-full border rounded-md px-8 text-sm text-white"
          v-for="n in 5"
          :key="n"
        >
          {{ n }}
        </button>
        <h3 class="text-[#EB0000] text-center">Arena 1</h3>
      </div>
      <div class="grid grid-cols-6 gap-1">
        <button
          class="w-full border rounded-md px-8 text-sm text-white"
          v-for="n in 5"
          :key="n"
        >
          {{ n }}
        </button>
        <h3 class="text-[#EB0000] text-center">Arena 2</h3>
      </div>
    </div>
  </div>
</template>
<script setup lang="ts"></script>
