<template>
  <div class="w-full min-h-screen bg-[#202442] px-2 py-3 flex gap-3">
    <div
      class="flex flex-col justify-between w-[22.5%] border bg-[#363A55] rounded-[7px] px-4 py-5"
    >
      <div class="flex justify-center">
        <the-icon></the-icon>
      </div>
      <div class="flex flex-col gap-1">
        <router-link
          :class="route.path === item.url ? 'bg-[#202442]' : ''"
          class="flex gap-2 text-white px-3 py-2.5 hover:bg-[#2B2F4C] hover:text-white rounded-md transition duration-150 ease-out hover:ease-in"
          v-for="(item, idx) in sidebarData"
          :key="idx"
          :to="item.url"
        >
          <n-icon color="white" :component="icons[idx]" size="20" :depth="1" />
          <span> {{ item.name }}</span>
        </router-link>
      </div>
      <div
        class="rounded-[7px] flex flex-col gap-2 bg-[#202442] text-white py-3 px-1.5"
      >
        <h3 class="text-center text-base">NOTIFICATION</h3>
        <p class="text[14px] text-center">
          Lorem Ipsum is simply dummy text of the printing and typesetting
          industry. Lorem Ipsum has been the industry's standard dummy text ever
          since the 1500s.
        </p>
      </div>
    </div>
    <div class="flex flex-col gap-3 w-full h-full">
      <div class="sticky top-0 right-0 left-0 w-full flex justify-end gap-2">
        <n-tag size="large" class="px-3 bg-[#363A55] rounded-[7px]"
          >17 Fevral 2023 14:30 PM</n-tag
        >
        <n-button class="text-white">
          <n-icon><person-icon></person-icon></n-icon
        ></n-button>
      </div>
      <div class="overflow-auto w-full h-full">
        <slot :key="route.params"></slot>
      </div>
    </div>
  </div>
</template>
<script setup lang="ts">
import TheIcon from "@/components/icon/TheIcon.vue";
import { useRoute } from "vue-router";
import sidebarData from "./data/sidebarData.json";
import {
  HomeOutline,
  Analytics,
  ClipboardOutline,
  Chatbox,
  CheckboxOutline,
  CloseCircle,
  Person as PersonIcon,
} from "@vicons/ionicons5";
const icons = [
  HomeOutline,
  Analytics,
  ClipboardOutline,
  Chatbox,
  CheckboxOutline,
  CloseCircle,
];

const route = useRoute();
</script>
