<template>
  <n-space>
    <n-button circle>
      <template #icon>
        <n-icon>
          <Pencil />
        </n-icon>
      </template>
    </n-button>
    <n-button circle>
      <template #icon>
        <n-icon>
          <Trash />
        </n-icon>
      </template>
    </n-button>
  </n-space>
</template>

<script lang="ts" setup>
import { Pencil, Trash } from "@vicons/ionicons5";
</script>
