<template>
  <div class="flex flex-col gap-3 w-full px-4">
    <div
      class="border rounded-md w-full h-auto p-3 flex flex-col gap-2 text-white"
      v-for="(item, idx) in comments"
      :key="idx"
    >
      <h3>{{ item.user }}</h3>

      <p>{{ item.comment }}</p>
    </div>
  </div>
</template>
<script setup lang="ts">
import { computed } from "vue";
import { useStore } from "@/stores";

const indexStore = useStore();

// fetch
indexStore.fetchActionWithoutParams("/api/admin/club/comment", "comment");
const comments = computed(() => indexStore.data?.comment?.comments);
</script>
